
# Python
__pycache__/
*.py[cod]
venv/
.env/
.env.*
*.egg-info/
dist/
build/

# Data files (remove these lines if you want to track your model)
*.csv
*.tsv
*.pkl

# Notebook checkpoints & logs
.ipynb_checkpoints/
*.log

# OS/Editor files
.DS_Store
.idea/
.vscode/



