Flask 
Flask-CORS 
requests
beautifulsoup4 
selenium
webdriver-manager
torch
transformers
pandas
numpy
scikit-learn

python-dotenv
Jinja2
MarkupSafe
Werkzeug
click
itsdangerous
tokenizers
huggingface-hub
safetensors
regex
tqdm
packaging
filelock
fsspec
typing-extensions
sympy
networkx
certifi
charset-normalizer
idna 

trio
trio-websocket 
wsproto

PySocks 
sniffio
sortedcontainers 
attrs
h11 

